# © 2025 Alec Fessler
# MIT License
# See LICENSE file in the project root for full license information.

# This file needs to be relocated to the directory below for use
# /etc/systemd/system/picam.service

[Unit]
Description=Picam Recording Service
After=network.target
Wants=network.target

[Service]
ExecStart=/usr/local/bin/picam
Restart=always
RestartSec=1
KillSignal=SIGTERM
User=alecfessler
Environment=PATH=/usr/bin:/usr/local/bin

[Install]
WantedBy=multi-user.target
